@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

:global(.font-lato) {
  font-family: 'Lato', sans-serif;
}

:global(.font-titan-one) {
  font-family: 'Titan One', cursive;
}



.hero {
    background-image: url('/clouds.jpg'); /* Use a relative URL path */
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    background-position: center; 
}
.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    width: screen-view;
  }
  .embla__slide {
    flex: 0 0 32.4%;
    min-width: 0;
    padding: 10px;
    border: 1px solid ;
  }
  
.embla_slide img{
    width: 100px;
}

.collections {
    height: 200px; /* Default height for collections */
}

@media (max-width: 640px) {
  h1 {
  display: flex;
flex-direction: row;
justify-content: center;
}
}

@media (max-width: 768px) {
    .hero {
        height: 20vh; /* Adjust height for medium screens */
    }
    .embla__slide {
      flex: 0 0 50.4%;
      min-width: 0;
      border: 1px solid ;
      height: 18vh;

    }
    
}

@media (max-width: 640px) {
    .hero {
        height: 20vh; /* Adjust height for smaller screens */
    }
    .embla__slide {
      flex: 0 0 90%;
      min-width: 0;
      border: 1px solid ;
      height: 18vh;
    }
    
}

@media (max-width: 480px) {
    .hero {
        height: 30vh;
         /* Adjust height for extra small screens */
    }
    .collections{
        height: 20vh;
    }
    .embla__slide {
      flex: 0 0 90%;
      min-width: 0;
      padding: 10px;
      border: 1px solid ;
      height: 20vh;
    }
    
}
